body {
  font-family: "Poppins", sans-serif;
  color: #22343d;
  background-color: #fff;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
}

.container {
  max-width: 1150px;
  width: 100%;
  padding: 0 20px;
  margin: auto;
}

/*header*/
.header {
}

.header-container {
  display: flex;
  align-items: center;
}
.header-logo {
}
.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 237px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}
.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;

  /*gap: 30px;*/
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
.header-nav-link {
  display: block;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0;
}

.current {
  font-weight: 600;
}

.header-btn-list {
  display: flex;
  gap: 21px;
}
.header-btn-item {
}
.header-btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  min-width: 105px;
  height: 42px;
  font-weight: 600;
  text-align: center;
  color: #173a56;
  background-color: transparent;
}

.header-btn:hover,
.header-btn:focus {
  color: #fff;
  background-color: #02897a;
  border: none;
}

/*hero section*/
.hero {
  margin-top: 25px;
  margin-bottom: 100px;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-container {
}
.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 18px;
  max-width: 465px;
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
  margin-bottom: 45px;
  max-width: 465px;
}

.hero-list {
  display: flex;
  gap: 30px;
}
.hero-list-item {
}

.hero-start-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background-color: #02897a;
  border-radius: 4px;
  min-width: 178px;
  height: 53px;
  border: none;
}

.hero-video-btn {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  background-color: transparent;
  min-width: 164px;
  height: 53px;
  border: none;
}
